#menu-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background: #337ab7;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
    color: #337ab7;
}

/*#cssmenu > ul > li.has-sub:hover > a::after {*/
/*border-color: #4cc9c3;*/
/*}*/

