/* =============================================================
NAVBAR STYLES
============================================================ */
/*.navbar-header{*/
/*margin-top: -20px;*/
/*}*/
.navbar-transparent .navbar-toggle:hover, .navbar-transparent .navbar-toggle:focus {
    background-color: #337ab7;
}

.navbar-transparent .navbar-toggle {
    border-color: #337ab7;
}

.mynav {
    margin-top: 20px;
    margin-right: 30px;
}

.logo-xs {
    margin-top: -10px;
}

.navbar {
    border: 0 none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s; /*for safari*/
    font-size: 16px;
}

.navbar-nav > li > a {
    margin-top: 13px;
    margin-bottom: 13px;
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 18px;
}

.navbar-nav > li > a [class^="fa"] {
    font-size: 22px;
}

.navbar-transparent {
    padding-top: 15px;
    background-color: rgba(0, 0, 0, .0);

}

.navbar-transparent .nav .caret {
    border-bottom-color: #dee5f1;
    border-top-color: #dee5f1;
}

.navbar-transparent .navbar-nav > li > a, [class*="navbar-ct"] .navbar-nav > li > a {
    color: #dee5f1;
    border-color: #dee5f1;
    opacity: 0.8;
}

/*.navbar-transparent .navbar-nav > .active > a,*/
.navbar-transparent .navbar-nav > .active > a:hover, .navbar-transparent .navbar-nav > .active > a:focus, .navbar-transparent .navbar-nav > li > a:hover, .navbar-transparent .navbar-nav > li > a:focus, [class*="navbar-ct"] .navbar-nav > .active > a, [class*="navbar-ct"] .navbar-nav > .active > a:hover, [class*="navbar-ct"] .navbar-nav > .active > a:focus, [class*="navbar-ct"] .navbar-nav > li > a:hover, [class*="navbar-ct"] .navbar-nav > li > a:focus {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
    color: #337ab7;
    opacity: 1;
}

.navbar-transparent .navbar-nav > .dropdown > a .caret, [class*="navbar-ct"] .navbar-nav > .dropdown > a .caret {
    border-bottom-color: #dee5f1;
    border-top-color: #dee5f1;
}

.navbar-transparent .navbar-nav > .dropdown > a:hover .caret, .navbar-transparent .navbar-nav > .dropdown > a:focus .caret {
    /*border-bottom-color:#dee5f1;*/
    /*border-top-color:#dee5f1;*/
    border-bottom-color: #337ab7;
    border-top-color: #337ab7;
}

.navbar-transparent .navbar-nav > .open > a, .navbar-transparent .navbar-nav > .open > a:hover, .navbar-transparent .navbar-nav > .open > a:focus {
    background-color: rgba(255, 255, 255, 0);
    color: #337ab7;
    /*opacity: 1;*/
}

.dropdown-menu > li > a {
    /*     border-bottom: 1px solid #DDDDDD; */
    padding: 6px 15px;
    color: #777777;
}

.dropdown-menu > li:first-child > a {
    border-radius: 10px 10px 0 0;
    padding-top: 12px;
}

.dropdown-menu > li:last-child > a {
    border-bottom: 0 none;
    border-radius: 0 0 10px 10px;
    padding-bottom: 12px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #dee5f1;
    color: #337ab7;
    /*opacity: 1;*/
    text-decoration: none;
}

.dropdown-menu > li > a img {
    margin-right: 5px;
}

.navbar-toggle {
    margin-top: 19px;
    margin-bottom: 19px;
    border: 0;
}

.navbar-toggle .icon-bar {
    background-color: #dee5f1;
}

/*media for language style*/
@media (min-width: 768px) {
    /*.navbar-form {*/
    /*margin-top: 21px;*/
    /*margin-bottom: 21px;*/
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
    /*}*/
    .navbar-nav > li > .dropdown-menu, .dropdown-menu {
        display: block;
        margin: 0;
        padding: 0;
        z-index: 9000;
        position: absolute;
        -webkit-border-radius: 10px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
        border-radius: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        opacity: 0;
        -ms-filter: "alpha(opacity=0)";
        -webkit-filter: alpha(opacity=0);
        -moz-filter: alpha(opacity=0);
        -ms-filter: alpha(opacity=0);
        -o-filter: alpha(opacity=0);
        filter: alpha(opacity=0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    }

    .navbar-nav > li.open > .dropdown-menu, .open .dropdown-menu {
        -webkit-transform-origin: 29px -50px;
        -moz-transform-origin: 29px -50px;
        -o-transform-origin: 29px -50px;
        -ms-transform-origin: 29px -50px;
        transform-origin: 29px -50px;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        -ms-filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
    }

    .dropdown-menu:before {
        border-bottom: 11px solid rgba(0, 0, 0, 0.2);
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        left: 100%;
        margin-left: -60%;
        top: -11px;
    }

    .dropdown-menu:after {
        border-bottom: 11px solid #dee5f1;
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        left: 100%;
        margin-left: -60%;
        top: -10px;
    }

}

/*END MEDIA STYLE*/

@media (max-width: 768px) {
    .navbar-transparent {
        padding-top: 0px;
        background-color: rgba(0, 0, 0, 0.75);
    }

    .navbar-transparent .navbar-collapse.in .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-transparent .navbar-collapse.in .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-transparent .dropdown-menu > li > a:hover, .navbar-transparent .dropdown-menu > li > a:focus, [class*="navbar-ct"] .dropdown-menu > li > a:hover, [class*="navbar-ct"] .dropdown-menu > li > a:focus {
        color: #337ab7;
        /*background-color: rgba(0, 0, 0, 0);*/
        opacity: 1;
    }

    .navbar-transparent .navbar-collapse.in .navbar-nav .open .dropdown-menu > li > a, [class*="navbar-ct"] .dropdown-menu > li > a {
        color: #dee5f1;
        opacity: 0.8;
    }

    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        background-color: rgba(0, 0, 0, 0);
        border-color: #337ab7;
    }

    .navbar-collapse {
        text-align: center;
    }

    .navbar-collapse .navbar-form {
        width: 170px;
        margin: 0 auto;
    }

}

/*!*END NAV BAR*!*/

/* =========================================================
HEADER STYLES
============================================================ */

/* =========================================================
MAIN STYLES
============================================================ */
main {
    color: white;
    font-size: 16px;
    margin-top: 30px;
}

main .cover-black {
    position: fixed;
    /*opacity: 1;*/
    /*background-color: rgba(0, 0, 0,0.6);*/
    background: rgba(0, 0, 0, 0.8) center center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    /*z-index: 1;*/

}

main .icon {
    margin-top: 25px;
}

main .txt-style {
    /*margin-top: 20px;*/
    display: block;
}

main .txt {
    font-size: 24px;
    /*margin-top: 150px;*/
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
    color: white;
    /*opacity: 0.8;*/
}

main #myform {
    font-size: 20px;
    /*margin-top: 90px;*/
    margin-top: 10px;
    margin-bottom: 30px;
}

/*main .transparent {*/
    /*background-color: rgba(255, 255, 255, 0.07);*/
    /*border: 1px solid rgba(238, 238, 238, 0.27);*/
    /*color: white;*/
    /*margin-top: 10px;*/
/*}*/

main .mymark {
    color: white;
}

.btn-fillfont {
    /*font-size: 17px;*/
}

.btn-fill {
    /*opacity: 0.8;*/
    /*background-color: #337ab7;*/
    /*border-color: #337ab7;*/
    margin-top: 10px;
    color: white;
    /*border-color: #152f64;*/
}

.btn-fill:hover {
    /*background-color: #4a67a2;*/
    /*border-color: #4a67a2;*/
    /*background-color: #da9960;*/
    /*border-color: #da9960;*/
    /*background-color: #152f64;*/
    /*border-color: #152f64;*/
    color: white;
}
