

/*.mynav-logo{*/
    /*!*width: 150px;*!*/
    /*!*height: 150px;*!*/
    /*margin-top: -10px;*/
/*}*/

.info{
    background-color: #337ab7;
}
header{
/*    color: white;*/
    /*color: #dee5f1;*/
    margin-top: -20px;

/*    position: relative;*/
}

header h1{
    color: #dee5f1;
}

header .my-constant{
    margin-top: -20px;
}
header .student-data{
    margin-top: 20px;
    vertical-align: middle;
}

header .txt {
    font-size: 22px;
    /*margin-top: 150px;*/
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
}

main{
    color:#337ab7 ;
    /*margin-top: 10px;*/
    font-size: 16px;
}

main .transparent {
    background-color: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(238, 238, 238, 0.27);
    color: white;
    margin-top: 10px;
}

.logo-md{
    margin-top: -30px;
}


/*FILE UPLOADER*/
#upload{
    display:none
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

/*JOB TITLE*/
 #student-job{
    color: white;
     text-decoration: none;
}

 #student-job:hover , #student-job:focus{
     text-decoration: none;
     color: white;
 }

 /*STUDENT ABOUT*/
#student-about{
    color: white;
    text-decoration: none;
}

#student-about:hover , #student-about:focus{
    text-decoration: none;
    color: white;
}

 .my-buttons{
     /*margin-top:10px;*/
 }

 .btn-mine{
     margin-bottom: 20px;
 }

 #my-info{
     margin-top: 100px;
 }

 .btn-upload{
     margin-bottom: 20px;
 }

#secondpersonal-info,#address-info,#skills-info,#education-info,#courses-info,#online-info,#work-info,#certificate-info{
     background-color: rgba(51,122,183,0.1);
     padding: 10px;
 }