*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: #c1bdba;
    font-family: 'Titillium Web', sans-serif;
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.tab-group li a:hover {
    background: #337ab7;
    color: #c1bdba;
}

.tab-group .active a {
    background: #337ab7;
    /*color: #c1bdba;*/
    color: white;
}

.tab-content > div:last-child {
    display: none;
}

h1 {
    text-align: center;
    color: #c1bdba;
    font-weight: 100;
    margin: 0 0 40px;
}

input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #c1bdba;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
    outline: 0;
    border-color: #337ab7;
}

.btn-register {
    background-color: #337ab7;
    border-color: #337ab7;
}

.myinput-form {
    margin-top: 80px;
}

#mysign-forget {
    font-size: 18px;
    color: #dee5f1;
}

#mysign-forget:hover,#mysign-forget:active{
    /*color: #337ab7;*/
    color: white;
    text-decoration: none;

}
