/* =============================================================
GENERAL STYLES
============================================================ */

body{
    color: #2b669a;
}

.sepration-sm{
    margin-top: 10px;
}
.sepration-md{
    margin-top: 20px;
}

.sepration{
    margin-top: 40px;
}

.sepration-lg{
margin-top: 50px;
}

.sepration-top{
    margin-top: 70px;
}

.sepration-contact{
    margin-top: 100px;
}
.inv-sepration-lg{
    margin-top: -60px;
}

.inv-sepration{
    margin-top: -40px;
}
.inv-sepration-md{
    margin-top: -30px;
}
.inv-sepration-sm{
    margin-top: -20px;
}

.inv-sepration-xs{
    margin-top: -10px;
}

.normal-sepration{
margin-bottom: 20px;
}

/* =============================================================
HOME STYLES
============================================================ */
/*Carousel Slider*/

#carousel-slider {
    padding: 50px 20px 5px 50px;
}

#carousel-slider h4 {
    /*    color: #51574F;*/
    /*color: #F5F5F5;*/
    /*line-height: 1.2;*/
    font-family: 'Oswald', sans-serif;
}

/* =============================================================
SERVICES STYLES
============================================================ */


.gallery
{
    padding: 100px 0px;
}
.all-td
{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #242424;
    text-transform: uppercase;
    margin: 0px;
    letter-spacing: 2px;
    margin-top: -20px;
}
.alldesc h2
{
    color: #ee4036;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 30px;
    /*margin-top: 0px !important;*/
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.desc
{
    font-family: "Source Sans Pro",sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #2b669a;
}
.sorting
{
    background-color: rgba(0, 0, 0, 0.06);
    margin-top: 60px;
    color: #696960;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-left: 15px;
}
.sorting .active
{
    background-color: #696960;
    color: #fff;
}
.galleryimg
{
    /*margin-top: 30px;*/
}
.mix
{
    padding: 0px;
}

#galleryimg .mix{
    display: none;
}


.grid {
    position: relative;
    margin: 20px auto 0px;
    /*max-width: 1000px;*/
    list-style: none;
    text-align: center;
}

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    /*padding: 1em;*/
    color: #fff;
    text-transform: uppercase;
    /*font-size: 1.25em;*/
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100%;*/
    /*height: 100%;*/
}

.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h3 {
    /*word-spacing: -0.15em;*/
    /*font-weight: 300;*/
}

/*.grid figure h2 span {*/
    /*!*font-weight: 800;*!*/
/*}*/

/*.grid figure h2,*/
/*.grid figure p {*/
    /*margin: 0;*/
/*}*/

/*.grid figure p {*/
    /*letter-spacing: 1px;*/
    /*!*font-size: 68.5%;*!*/
/*}*/


figure.effect-Beauty{
    background-color: #17819c;
}

figure.effect-Beauty img {
    opacity: 0.4;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    /*width: 100%;*/
}

figure.effect-Beauty:hover img {
    opacity: 0.4;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-Beauty h3 {
    color: white;
    margin-top: 20%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

figure.effect-Beauty h4 {
    color: white;
    margin-top: 20%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

figure.effect-Beauty h5 {
    color: white;
    margin-top: 20%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}


figure.effect-Beauty p {
    margin: 1em;
    /*padding: 15px;*/
    border: .5px solid #fff;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0) scale(1.1);
    transform: translate3d(0,20px,0) scale(1.1);
}

figure.effect-Beauty:hover h3{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-Beauty:hover h4{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-Beauty:hover h5{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-Beauty:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
}

/* =============================================================
POERFOLIO STYLES
============================================================ */

.portfolio ul{
    list-style: none;

}

/* =============================================================
CONTACT STYLES
============================================================ */
.get-h1{
    font-size: 45px;
}


/* =============================================================
SOCIAL STYLES
============================================================ */

.mysocial{
    margin-bottom:100px;
    color: #696960;
}

.btn-send{
    background-color: #ee4036;
    color: white;
}

.btn-send:hover{
    color: #696960;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

a {
    background-color: #696960;
}





