
html,
body {
    margin: 0;
    overflow: hidden;
}

.box {
    position: relative;
    height: 100%;
    overflow: hidden;
    transition: transform 0.3s linear;
}

.section {
    background: url(../images/background.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    height: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/*.s1 { background: #5686a5 }*/

/*.s2 { background: #774a7c }*/

/*.s3 { background: #4a7c74 }*/

/*.s4 { background: #7c794a }*/

/*.s5 { background: #4c4c4c }*/

.controlBtns {
    position: fixed;
    top: 50%;
    right: 10px;
    margin-top: -40px;
    _position: absolute;
}

.controlBtns a {
    width: 10px;
    height: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: #ee4036;
    display: block;
}

.controlBtns a.active { background-color: #428bca; }