/* =============================================================
GENERAL STYLES
============================================================ */

/* =============================================================
HEADER STYLES
============================================================ */
header{
    background: url("../images/business%20bacjground.png") no-repeat center center;
    margin-top: -10px;
    padding-top:20px;
    text-align:center;
    position: relative;
    min-height: 650px;
    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header img{
    margin-top: 180px;
}

#header h5{
    font-family: Syncopate;
    margin-top: 30px;
    color:#ee4036;
}

.social{
    margin-top: 30px;
}

.button-custom {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin: 25px 5px 5px 0px;
    margin: 5px;
}

.btn-custom-one {
    background-color: transparent;
    /*color: #337ab7;*/
    border: 2px solid #ee4036;
}

.btn-custom-one:hover {
    background-color:  #ee4036;
    text-decoration: none;
    color: #fff;
}

.btn-network{
    border-color:#ee4036 ;
    color: #ee4036;
}

.btn-network:hover{
    color: white;
    background-color: #ee4036;
    border-color: #ee4036;
}


/* =============================================================
NAVBAR STYLES
============================================================ */
#menu, .sub-menu {
    display: none;
    list-style: none;
}

#menu-toggle{
    margin-top: 30px;
    margin-left: 95px;
    margin-bottom: 20px;
}

/*Change toggle size by adjusting width & height*/
.tb-menu-toggle {
    border: 0;
    position: relative;
    background: transparent;
    cursor: pointer;

}

/*Change toggle color here*/
.tb-menu-toggle i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    -webkit-transition:all .2s;
    -moz-transition:all .2s;
    -o-transition:all .2s;
    transition:all .2s;
}
.tb-menu-toggle i:nth-child(2) {
    top: 40%;
}
.tb-menu-toggle i:nth-child(3) {
    top: 80%;
}

/* Style the active toggle here */
.tb-menu-toggle.tb-active-toggle i {  }

/*Animation of the toggle*/
.tb-menu-toggle.tb-animate-toggle i:first-child,
.tb-menu-toggle.tb-animate-toggle i:nth-child(2){
    top: 40%;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
.tb-menu-toggle.tb-animate-toggle i:nth-child(3){
    top: 40%;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}



/* menu appearance*/
#menu {
    position: relative;
    color: #999;
    width: 200px;
    padding: 10px;
    /*margin: 30px;*/
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    text-align: center;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
}
#menu:after {
    position: absolute;
    top: -15px;
    left: 95px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
}
ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}
li a {
    padding: 5px;
    color: #888;
    text-decoration: none;
    transition: all .2s;
}
li a:hover,
li a:focus {
    background: #ee4036;
    color: #fff;
}



/* =============================================================
about section STYLES
============================================================ */

/*=============animation avatrar ============*/
.avatar {
    margin-top: -70px;
    /*margin-left: -20px;*/
    height: 200px;
    position: relative;
    width: 200px;
}

.avatar img {
    border-radius: 9999px;
    height: 100%;
    position: relative;
    /*width: 100%;*/
    z-index: 2;
}

@keyframes cycle-colors {
    0% { border-color: hsl(0, 100%, 50%); }
    25% { border-color: hsl(90, 100%, 50%); }
    50% { border-color: hsl(180, 100%, 50%); }
    75% { border-color: hsl(270, 100%, 50%); }
    100% { border-color: hsl(360, 100%, 50%); }
}

@keyframes pulse {
    to {
        opacity: 0;
        transform: scale(1);
    }
}

.avatar::before,
.avatar::after {
    animation: pulse 2s linear infinite;
    border: #000 solid 8px;
    border-radius: 9999px;
    box-sizing: border-box;
    content: ' ';
    height: 140%;
    left: -20%;
    opacity: .6;
    position: absolute;
    top: -20%;
    transform: scale(0.714);
    width: 140%;
    z-index: 1;
}

.avatar::after {
    animation-delay: 1s;
}

.avatar:hover img {
    /*content: url('http://s.blixt.org/hypnotoad.jpg');*/
}

.avatar:hover::before,
.avatar:hover::after {
    animation: pulse 1s linear infinite, cycle-colors 6s linear infinite;
}

.avatar:hover::after {
    animation-delay: .5s;
}

/*END AVATAR ANIMATION*/

.about{
    margin-top: 60px;
    margin-bottom: 50px;
}

.about-monk{
    margin-top: 40px;
}

#about h1{
    font-family: "Syncopate";
    margin-top: 40px;
    color:#ee4036;
}
#about h5{
    font-family: 'Droid Sans';
    margin-top: 30px;
    /*color:#ee4036;*/
}

#about p{
    font-family: 'Droid Sans';
    margin-top: 20px;
    /*color:#ee4036;*/
}

.about .S_icons{
    /*padding-left: 64px;*/
    margin-bottom: 30px;
    margin-top: 30px;
}

.about hr.sp{
    display: inline-block;
    text-align: center;
    width: 150px;
    height: 10px;
    border: 0;
    background: url('../images/separator.png') no-repeat;
    margin-top: 40px;
    margin-left: -4px;
}

.about img{
    margin-left: -4px;
}

/* =============================================================
forces STYLES
============================================================ */

/* Control buttons  */
#carousel-example-generic .carousel-control
{
    background: none;
    /*color: #222;*/
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 90px;
}
/* Previous button  */
#carousel-example-generic .carousel-control.left
{
    left: -12px;
    margin-right: 10px;
}
/* Next button  */
#carousel-example-generic .carousel-control.right
{
    right: -12px !important;
    margin-left: 10px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-control {
    text-shadow: none;
    opacity: 1;
    filter: alpha(opacity=100)
}
.carousel-control.left {
    background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.0001)));
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0,0,0,0.5) 0), color-stop(rgba(0,0,0,0.0001) 100%));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.0001) 100%);
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.0001) 100%);
    background-repeat: repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)
}
.carousel-control.right {
    background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(0,0,0,0.0001)), to(rgba(0,0,0,0.5)));
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0,0,0,0.0001) 0), color-stop(rgba(0,0,0,0.5) 100%));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.5) 100%);
    background-image: linear-gradient(to right, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.5) 100%);
    background-repeat: repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)
}
.carousel-control:hover, .carousel-control:focus {
    opacity: 1;
    filter: alpha(opacity=100)
}

.carousel-control.left, .carousel-control.right{
    background: none !important;
    color:#337ab7;
    filter: !important;
}

.carousel-item{
    margin-top: 20px;
    margin-bottom: 20px;
}


figure {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 136px; height: 148px;
    /*margin-right: 30px;*/
    margin-top: 30px;
}

/** Hexagon Mask **/
figure:before {
    z-index: 3;
    position: absolute;
    display: block;
    content: '';
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: url(http://leadergamer.com.tr/wp-content/themes/lgm/images/team-mask-1.png) no-repeat;
    pointer-events: none;
}
figure img {
    display: block;
    width: auto; height: 100%;
}

/** Contact Links **/
figure .contact {
    z-index: 2;
    position: absolute;
    display: block;
    top: 0; left: 0; right: 0; bottom: 0;
}
.contact a {
    background-image: url(http://leadergamer.com.tr/wp-content/themes/lgm/images/level-1-c.png);
}
figure .contact a {
    position: absolute;
    display: block;
    width: 50%; height: 50%;
    background-repeat: no-repeat;
    transition: all .25s ease-in-out;
}
figure .contact .tw {
    top: 0; left: 0;
    background-color: rgba(0, 172, 238, .7);
    background-position: 30px 32px;
    transform: translate(-100%, -100%);
}
figure .contact .tw:hover {
    background-color: rgba(0, 172, 238, 1);
}
figure .contact .fb {
    top: 0; right: 0;
    background-color: rgba(59, 89, 152, .7);
    background-position: -42px 32px;
    transform: translate(100%, -100%);
}
figure .contact .fb:hover {
    background-color: rgba(59, 89, 152, 1);
}
figure .contact .gp {
    bottom: 0; left: 0;
    background-color: rgba(221, 75, 57, .7);
    background-position: 30px -40px;
    transform: translate(-100%, 100%);
}
figure .contact .gp:hover {
    background-color: rgba(221, 75, 57, 1);
}
figure .contact .ma {
    bottom: 0; right: 0;
    background-color: rgba(153, 153, 153, .7);
    background-position: -42px -40px;
    transform: translate(100%, 100%);
}
figure .contact .ma:hover {
    background-color: rgba(153, 153, 153, 1);
}
figure:hover .contact a {
    transform: translate(0, 0);
}



.force-title{
    /*margin-left: -20px;*/
}

.force-titleSpan{
    color:#337ab7;
}

#forces{
    margin-top: 100px;
    margin-bottom: 100px;
}

#header h1{
    font-family: Syncopate;
    margin-top: 30px;
    color:#ee4036;
}

/* =============================================================
skills STYLES
============================================================ */

#created-solution{}

.timeline {
    position: relative;
    padding:4px 0 0 0;
    margin-top:22px;
    list-style: none;
}

.timeline>li:nth-child(even) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    right:-100px;
}

.timeline>li:nth-child(odd) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    left:-100px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
    min-height: 170px;
}

.timeline > li .timeline-panel {
    position: relative;
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 50%;
    border: 7px solid #3b5998;
    border-radius: 100%;
    background-color: #3b5998;
    box-shadow: 0 0 5px #4582ec;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    padding: 8px;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top:22px;
    margin-bottom: 4px;
    padding:0;
    /*color: #b3b3b3;*/
}

.timeline .timeline-heading h4.subheading {
    margin:0;
    padding:0;
    text-transform: none;
    font-size:18px;
    /*color:#333333;*/
    color: white;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
    /*color:#808080;*/
    color: white;
}
/*Style for even div.line*/
.timeline>li:nth-child(odd) .line:before {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 690px;
    width: 4px;
    height:340px;
    background-color: #3b5998;
    -ms-transform: rotate(-44deg); /* IE 9 */
    -webkit-transform: rotate(-44deg); /* Safari */
    transform: rotate(-44deg);
    box-shadow: 0 0 5px #4582ec;
}
/*Style for odd div.line*/
.timeline>li:nth-child(even) .line:before  {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 450px;
    width: 4px;
    height:340px;
    background-color: #3b5998;
    -ms-transform: rotate(44deg); /* IE 9 */
    -webkit-transform: rotate(44deg); /* Safari */
    transform: rotate(44deg);
    box-shadow: 0 0 5px #4582ec;
}
/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
    .timeline > li:nth-child(even) {
        margin-bottom: 0px;
        min-height: 0px;
        right: 0px;
    }
    .timeline > li:nth-child(odd) {
        margin-bottom: 0px;
        min-height: 0px;
        left: 0px;
    }
    .timeline>li:nth-child(even) .timeline-image {
        left: 0;
        margin-left: 0px;
    }
    .timeline>li:nth-child(odd) .timeline-image {
        left: 690px;
        margin-left: 0px;
    }
    .timeline > li:nth-child(even) .timeline-panel {
        width: 76%;
        padding: 0 0 20px 0px;
        text-align: left;
    }
    .timeline > li:nth-child(odd) .timeline-panel {
        width: 70%;
        padding: 0 0 20px 0px;
        text-align: right;
    }
    .timeline > li .line {
        display: none;
    }
}
/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .timeline > li:nth-child(even) {
        margin-bottom: 0px;
        min-height: 0px;
        right: 0px;
    }
    .timeline > li:nth-child(odd) {
        margin-bottom: 0px;
        min-height: 0px;
        left: 0px;
    }
    .timeline>li:nth-child(even) .timeline-image {
        left: 0;
        margin-left: 0px;
    }
    .timeline>li:nth-child(odd) .timeline-image {
        left: 520px;
        margin-left: 0px;
    }
    .timeline > li:nth-child(even) .timeline-panel {
        width: 70%;
        padding: 0 0 20px 0px;
        text-align: left;
    }
    .timeline > li:nth-child(odd) .timeline-panel {
        width: 70%;
        padding: 0 0 20px 0px;
        text-align: right;
    }
    .timeline > li .line {
        display: none;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
    .timeline > li:nth-child(even) {
        margin-bottom: 0px;
        min-height: 0px;
        right: 0px;
    }
    .timeline > li:nth-child(odd) {
        margin-bottom: 0px;
        min-height: 0px;
        left: 0px;
    }
    .timeline>li .timeline-image {
        position: static;
        width: 150px;
        height: 150px;
        margin-bottom:0px;
    }
    .timeline>li:nth-child(even) .timeline-image {
        left: 0;
        margin-left: 0;
    }
    .timeline>li:nth-child(odd) .timeline-image {
        float:right;
        left: 0px;
        margin-left:0;
    }
    .timeline > li:nth-child(even) .timeline-panel {
        width: 100%;
        padding: 0 0 20px 14px;
    }
    .timeline > li:nth-child(odd) .timeline-panel {
        width: 100%;
        padding: 0 14px 20px 0px;
    }
    .timeline > li .line {
        display: none;
    }
}

#skills h1{
    padding-top: 30px;
    margin-bottom: 20px;
    color: white;
}

#skills{
    background: url("../images/computer-414056_1920.jpg") no-repeat center center;
    width: 100%;
    background-size: cover;
    margin-top:30px ;
    margin-bottom: 70px;
}

.text-mine{
    color: #373a3c;
}

/* =============================================================
experience STYLES
============================================================ */
.sectiontitle {
    background-position: center;
    text-align: center;
    min-height: 20px;
}

.sectiontitle h2 {
    font-size: 30px;
    color: #222;
    margin-bottom: 0px;
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.headerLine {
    width: 160px;
    height: 2px;
    display: inline-block;
    background: #101F2E;
}

.fullWidth {
    width: 100%;
    display: table;
    float: none;
    padding: 0;
    min-height: 1px;
    height: 100%;
    position: relative;
}
/********************************/
/*  SECTION WORK EXPERIENCE
********************************/

#work-experience .sectiontitle .headerLine {
    width: 280px;
}

#work-experience .headerline {
    width: 280px;
}

.cbp_tmtimeline {
    margin: 60px 30px 0 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 3%;
    bottom: 0;
    width: 10px;
    background: #324454;
    left: 13%;
    height: 100%;
}

.cbp_tmtimeline li:last-child:before {
    content: initial;
}

.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 25%;
    padding-right: 100px;
    position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 0.9em;
    color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 2.9em;
    color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 15px 25%;
    background: rgba(50, 68, 84, 1);
    color: #FFF;
    padding: 30px;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    font-family: 'Open Sans';
    position: relative;
    border-radius: 5px;
    min-height: 150px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: #2B3A48;
}

.cbp_tmtimeline > li .cbp_tmlabel h3 {
    margin-top: 0px;
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.cbp_tmtimeline > li .cbp_tmlabel h4 {
    opacity: 0.7;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 600;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    text-align: left;
}

.cbp_tmtimeline > li .cbp_tmlabel h4 i {
    margin-right: 5px;
    vertical-align: middle;
}

.cbp_tmtimeline > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: rgba(50, 68, 84, 1);
    border-width: 10px;
    top: 70px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #2B3A48;
}

.cbp_tmtimeline > li .cbp_tmicon {
    width: 150px;
    height: 150px;
    top: 3%;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #151515;
    background: #324454;
    border-radius: 50%;
    text-align: center;
    left: 8%;
    margin: 0 0 0 -25px;
}

.cbp_tmtimeline li {
    margin-bottom: 70px;
    position: relative;
}

.sectionClassProject {
    position: relative;
    display: block;
    /* background: #f7f7f7; */

    margin: 0 auto;
    padding: 80px 1.875em 3.125em;
}

.projectParagraph {
    font-size: 18px;
    margin: 0.5em 0 0;
    font-family: 'Source Sans Pro', serif;
}

.projectParagraphLink {
    font-size: 15px !important;
    font-weight: 500 !important;
    margin-top: 50px !important;
    margin-bottom: 0px;
    text-align: right;
}

.projectParagraphLink a {
    color: white;
    text-decoration: underline;
}

.cbp_tmicon img {
    width: 100%;
}

.faPra {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 70px;
    vertical-align: middle;
    color: white;
    line-height: 150px;
}

.label {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    color: #FFFFFF;
    display: inline;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
    padding: 5px 15px;
}

.date {
    color: #BFC3C7;
    display: block;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: 30px;
    right: 20px;
}

.date i {
    margin-right: 8px;
    vertical-align: top;
    font-size: 18px;
    line-height: 20px;
}

@media (max-width: 1024px) {
    .cbp_tmtimeline:before {
        display: none;
    }
    .cbp_tmtimeline > li .cbp_tmtime {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
    }
    .cbp_tmtimeline > li .cbp_tmtime span {
        text-align: left;
    }
    .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 30px 0 70px 0;
        padding: 50px 30px 30px 30px;
        font-weight: 400;
        font-size: 95%;
        float: left;
    }
    .cbp_tmtimeline > li .cbp_tmlabel:after {
        right: auto;
        border-right-color: transparent;
        border-bottom-color: rgb(50, 68, 84);
        top: -20px;
    }
    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: rgb(43, 58, 72);
        left: 65px;
    }
    .cbp_tmtimeline > li:nth-child(even) .cbp_tmlabel:after {
        right: 65px;
    }
    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmicon {
        position: relative;
        float: left;
        left: auto;
        margin: 0px 5px 0 0px;
    }
    .cbp_tmtimeline > li:nth-child(even) .cbp_tmicon {
        position: relative;
        float: right;
        left: auto;
        margin: 0px 5px 0 0px;
    }
    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 1.5em;
    }
}

@media (max-width: 32em) {
    .cbp-ntaccordion {
        font-size: 70%;
    }
}


/*OFFFFFFFFFFFFFFF*/
/*#of-beneficiaries> a.btn {*/
    /*background: #0096a0;*/
    /*border-radius: 4px;*/
    /*box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);*/
    /*color: #ffffff;*/
    /*display: inline-block;*/
    /*padding: 6px 30px 8px;*/
    /*position: relative;*/
    /*text-decoration: none;*/
    /*-webkit-transition: all 0.1s 0s ease-out;*/
    /*transition: all 0.1s 0s ease-out;*/
/*}*/
/*.no-touch a.btn:hover {*/
    /*background: #00a2ad;*/
    /*box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);*/
    /*-webkit-transform: translateY(-2px);*/
    /*transform: translateY(-2px);*/
    /*-webkit-transition: all 0.25s 0s ease-out;*/
    /*transition: all 0.25s 0s ease-out;*/
/*}*/
/*.no-touch a.btn:active,*/
/*a.btn:active {*/
    /*background: #008a93;*/
    /*box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);*/
    /*-webkit-transform: translate3d(0, 1px, 0);*/
    /*transform: translate3d(0, 1px, 0);*/
    /*-webkit-transition: all 0.025s 0s ease-out;*/
    /*transition: all 0.025s 0s ease-out;*/
/*}*/
div.cards {
    margin: 80px auto;
    max-width: 960px;
    text-align: center;
}
div.card {
    background: #ffffff;
    display: inline-block;
    margin: 8px;
    max-width: 300px;
    /*-webkit-perspective: 1000;*/
    /*perspective: 1000;*/
    position: relative;
    text-align: left;
    -webkit-transition: all 0.3s 0s ease-in;
    transition: all 0.3s 0s ease-in;
    z-index: 1;
}
div.card img {
    max-width: 300px;
}
div.card div.card-title {
    background: #ffffff;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
}
div.card div.card-title a.toggle-info {
    border-radius: 32px;
    height: 32px;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 32px;
}
div.card div.card-title a.toggle-info span {
    background: #ffffff;
    display: block;
    height: 2px;
    position: absolute;
    top: 16px;
    -webkit-transition: all 0.15s 0s ease-out;
    transition: all 0.15s 0s ease-out;
    width: 12px;
}
div.card div.card-title a.toggle-info span.left {
    right: 14px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
div.card div.card-title a.toggle-info span.right {
    left: 14px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
div.card div.card-title h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin: 0;
    padding: 0;
}
div.card div.card-title h2 small {
    display: block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.025em;
}
div.card div.card-description {
    padding: 0 15px 10px;
    position: relative;
    font-size: 14px;
}
div.card div.card-actions {
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
    padding: 10px 15px 20px;
    text-align: center;
}
div.card div.card-flap {
    background: #d9d9d9;
    position: absolute;
    width: 100%;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
div.card div.flap1 {
    -webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
}
div.card div.flap2 {
    -webkit-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
    z-index: -2;
}
div.cards.showing div.card {
    cursor: pointer;
    opacity: 0.6;
    -webkit-transform: scale(0.88);
    transform: scale(0.88);
}
.no-touch div.cards.showing div.card:hover {
    opacity: 0.94;
    -webkit-transform: scale(0.92);
    transform: scale(0.92);
}
div.card.show {
    opacity: 1 !important;
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
}
div.card.show div.card-title a.toggle-info {
    background: #ff6666 !important;
}
div.card.show div.card-title a.toggle-info span {
    top: 15px;
}
div.card.show div.card-title a.toggle-info span.left {
    right: 10px;
}
div.card.show div.card-title a.toggle-info span.right {
    left: 10px;
}
div.card.show div.card-flap {
    background: #ffffff;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
div.card.show div.flap1 {
    -webkit-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
}
div.card.show div.flap2 {
    -webkit-transition: all 0.3s 0.2s ease-out;
    transition: all 0.3s 0.2s ease-out;
}

/********************************/
/*  FOOTER STYLE
********************************/
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    color: #fff;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: none;
}

[placeholder]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

[placeholder]:hover::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

[placeholder]:focus::-webkit-input-placeholder {
    color: transparent;
}

[placeholder]::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

[placeholder]:hover::-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

[placeholder]:focus::-moz-placeholder {
    color: transparent;
}

[placeholder]:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

[placeholder]:hover:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

[placeholder]:focus:-ms-input-placeholder {
    color: transparent;
}

form {
    width: 400px;
    margin: 50px auto;
}

input[type="text"] {
    display: block;
    width: 400px;
    margin: 0 0 20px;
    padding: 8px 12px 10px 12px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.25);
}

textarea {
    display: block;
    width: 400px;
    height: 150px;
    margin: 0 0 20px;
    padding: 8px 12px 10px 12px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.25);
}

.radio {
    position: relative;
    display: inline-block;
    margin: 0 20px 20px 0;
}

.radio input[type="radio"] {
    vertical-align: middle;
    opacity: 0;
}

.radio label {
    vertical-align: middle;
    cursor: pointer;
}

.radio input[type="radio"] + label:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -3px 5px 0 -15px;
    vertical-align: middle;
    font-size: 14px;
    font-family: fontawesome;
    line-height: 19px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.25);
}

.radio input[type="radio"] + label:before {
    border-radius: 50%;
}

.radio input[type="radio"]:hover + label:before {
    content: '\f111';
    font-size: 9px;
    color: rgba(255, 255, 255, 0.4);
}

.radio input[type="radio"]:checked + label:before {
    content: '\f111';
    font-size: 9px;
    color: rgba(255, 255, 255, 0.8);
}

.radio .sex {
    font: 20px fontawesome;
}

input[type="submit"] {
    display: block;
    width: 150px;
    margin: 0 0 20px;
    padding: 8px 0 10px 0;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.25);
}

.address{
    margin-top: 50px;
}

#contact{
    background-color: #2B3A48;
    color: white;
}

.contact-word{
    padding-top: 40px;
}