/* =================================================
                    GENERAL CROUSEL
====================================================*/

/*.droid-arabic-naskh{font-family: 'Droid Arabic Naskh', serif;}*/

body {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    @import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
    font-family: 'Droid Arabic Naskh', serif;
}

/* =================================================
                    SLIDER CROUSEL
====================================================*/

/*3D CROUSEL*/
.jR3DCarouselGallery {
    margin: 0 auto;
}

a img {
    position: absolute;
    bottom: 0;
}

/*swipper crousel*/
header{
    margin-bottom: 160px;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide>a>img{
    width: 300px;
    height: 300px;
    font-size: 18px;
    /*color: #18967e;*/
    color: #146b9e;
}
.swiper-slide >a>img> .social{
    /*color:#92d651 ;*/
    color: #0e79b8;
    margin-right: 20px;
}

/* =================================================
                   SOCIAL BUTTONS
====================================================*/

.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}

.social-circle a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle{
	/*color: #fff;*/
        color: #146b9e;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}


/* =================================================
                    NAVBAR
====================================================*/

/*TOP NAVBAR*/
.top-navbar{
    background-color: #146b9e;
    /*color: #f60053;*/
    color: #146b9e;
    height: 90px;
}

.top-nav{
    background-color: #0e79b8;
    color: white;
    height: 70px;
    line-height: 60px;
    /*margin-bottom: 40px;*/
}

.top-nav a , .top-nav span {
    margin-right: 5px;
    margin-top: 10px;
    color: white;
    /*#A5A381*/
   /*margin-left: 20px;*/
}
.top-nav .person-selection a{
    margin-right: 15px;
}

/*.top-nav .navsecond-row{
    margin-top: -30px;
}*/

/*.top-nav .navsecond-row a{
    margin-right: 40px;
}

.top-nav .navsecond-row .first-secondrow{
    margin-left: -10px;
}*/

.top-nav .person-selection{
    margin-top: 15px;
}

/*END TOP NAVBAR*/

/*      NAVBAR      */
.navbar-header{
    /*margin-bottom: 10px;*/
    margin-top: 10px;
}

.nav{
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}
.navbar-collapse .nav li a{
    color: white;
    /*color: white;*/
}

.navbar-inverse{
    background-color:#146b9e;
    border-color:#146b9e;
}

.navbar-inverse .logo-xs{
    margin-bottom: 30px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: rgba(0,0,0,0);
    background: url(../images/ipad-icon.svg) no-repeat center center ;
}

.navbar-inverse .navbar-nav>li>a:hover , .navbar-inverse .navbar-nav>li>a:focus , .navbar-inverse .navbar-nav>li>a:active{
    /*background: url(../images/tablet-824409_640.png) no-repeat center center ;*/
    /*background-color: rgba(0,0,0,0);*/
    background-color: #A5A381;
    /*font-size: 10px;*/
}

/*      END NAVBAR      */

/* =================================================
                   GENERAL MAIN
====================================================*/
main .secondrow{
    margin-top: 50px;
} 


/* =================================================
                    MOBILES
====================================================*/
#mobiles{
    margin-top: 120px;
    margin-bottom: 160px;
}

#mobiles .crousel-seprate{
    margin-top: 20px;
}

/* =================================================
                    EXCESSORIES
====================================================*/
#excessories{
    margin-top: 120px;
    margin-bottom: 160px;
}

/* =================================================
                    SHOPS
====================================================*/
#shops{
    margin-top: 120px;
    margin-bottom: 160px;
}

/* =================================================
                    REPAIRE
====================================================*/
#repaire{
    margin-top: 120px;
    margin-bottom: 160px;
}

/* =================================================
                   FOOTER
====================================================*/
footer{
    margin-top: 120px;
    /*margin-bottom: 60px;*/
}

.footer1 {
    background: #146b9e repeat scroll left top;
    color: white;
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
    /*border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #003;*/
    text-align: right;
}

.footer1 a{
    color: white;
}



.title-widget {
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 28px;
}

.title-widget::before {
    background-color: white;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}




.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
    width:95%;
}



.title-median {
    /*color: #636363;*/
    color: white;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

.footerp p {font-family: 'Gudea', sans-serif; }


#social:hover {
    -webkit-transform:scale(1.1); 
    -moz-transform:scale(1.1); 
    -o-transform:scale(1.1); 
}
#social {
    -webkit-transform:scale(0.8);
    /* Browser Variations: */
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8); 
    -webkit-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}           
/* 
    Only Needed in Multi-Coloured Variation 
*/
.social-fb:hover {
    color: #3B5998;
}
.social-tw:hover {
    color: #4099FF;
}
.social-gp:hover {
    color: #d34836;
}
.social-em:hover {
    color: #f39c12;
}
.nomargin { margin:0px; padding:0px;}





.footer-bottom {
    background-color: #15224f;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}




