/* =============================================================
GENERAL STYLES
============================================================ */
body {
    color: white;
    height: 600px;
    /*background-size: cover;*/
    background: #2b669a; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top,#5bc0de, #2b669a); /* For Safari 5.1 to 6.0 */
    /*background: -webkit-linear-gradient(left top, #2b669a, #5bc0de); !* For Safari 5.1 to 6.0 *!*/
    background: -o-linear-gradient(bottom right, #5bc0de , #2b669a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #5bc0de, #2b669a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #5bc0de , #2b669a); /* Standard syntax (must be last) */
}

.sepration-top{
    margin-top: 60px;
}

.sepration-inverse-sm{
    margin-top: -20px;
}

.sepration-internal-sm{
    margin-top: 30px;
}

.sepration-inverse{
    margin-top: -40px;
}


/* =============================================================
SOCIAL MEDIA STYLES
============================================================ */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

a {
    background-color: #4d4d4d;
}

/* =============================================================
MAIN STYLES
============================================================ */
.text{
    font-size: 50px;
    margin-left: -50px;
}